name: despesas
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  intl: ^0.20.2

flutter:
  uses-material-design: true

fonts:
  - family: OpenSans
    fonts:
    - asset: assets/fonts/OpenSans-Regular.ttf
    - asset: assets/fonts/OpenSans-Bold.ttf
      weight: 700
  - family: Quincksand
    fonts:
    - asset: assets/fonts/Quincksand-Regular.ttf
    - asset: assets/fonts/Quincksand-Bold.ttf
      weight: 700
